$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;



$background-color: #F6F6F6;
$background-dark-color: #EAEAEA;
$dark: darken($background-dark-color, 15%);

$soft: .5rem;
$medium: 1.5rem;
$padding-vert: 2.5rem 1rem 2.5rem 1rem;